<%= form_for(@certificate) do |f| %>
  <% if @certificate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@certificate.errors.count, "error") %> prohibited this certificate from being saved:</h2>

      <ul>
      <% @certificate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :cedula %><br>
    <%= f.number_field :cedula %>
  </div>
  <div class="field">
    <%= f.label :pagaduria %><br>
    <%= f.text_field :pagaduria %>
  </div>
  <div class="field">
    <%= f.label :no_libranza %><br>
    <%= f.number_field :no_libranza %>
  </div>
  <div class="field">
    <%= f.label :saldo_letras %><br>
    <%= f.text_field :saldo_letras %>
  </div>
  <div class="field">
    <%= f.label :saldo_numeros %><br>
    <%= f.number_field :saldo_numeros %>
  </div>
  <div class="field">
    <%= f.label :cuota_letras %><br>
    <%= f.text_field :cuota_letras %>
  </div>
  <div class="field">
    <%= f.label :cuota_numeros %><br>
    <%= f.number_field :cuota_numeros %>
  </div>
  <div class="field">
    <%= f.label :fecha_vencimiento %><br>
    <%= f.date_select :fecha_vencimiento %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
